

.contact {
    // border: 2px solid blue;
    // min-height: 100vh;
    @include pad;
    @include text-font;
    color: $purple;
    width: 100%;

    .header__content {
        margin-top: 50px;
        @include header;

        .header__underline {
            border: 2px solid $purple;
        }
    }

    form {
        // border: 2px solid green;
        margin: 50px auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    &__form {

        .user__info {
            // border: 2px solid orange;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            gap: 40px;

            input.user-info {
                margin: 0 auto;
                // margin-bottom: 20px;
                // height:10px;
                width: 100%;
                padding: 20px;
                font-size: 100%;
                border-radius: 50px;
                border: none;
                outline: none;
                box-shadow: 0.1px 0.1px 7px 4px rgba($color: #000000, $alpha: 0.1);
            }
        }

        input#message {
            // border: 2px solid purple;
            height: 150px;
            margin: 20px auto 40px;
            width: 100%;
            margin-bottom: 40px;
            padding: 20px;
            font-size: 100%;
            border-radius: 50px;
            border: none;
            outline: none;
            box-shadow: 0.1px 0.1px 7px 4px rgba($color: #000000, $alpha: 0.1);
        }

        button {
            margin: 0 auto;
            width: 250px;
            padding: 20px 0;
            font-size: 20px;
            border-radius: 50px;
            border: 1px solid black;
            box-shadow: 0.1px 0.1px 7px 4px rgba($color: #000000, $alpha: 0.1);
            background-color: white;
            color: black;

        }
    }

    &__info {
        width: 90%;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: start;  
        text-align: center;      
    }

    &__item {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &:nth-child(2) {
            display: none;
        }

        h5 {
            margin-bottom: 15px;
        }
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        font-size: 60%;
    }

    &__icon {
        border: 0.2px solid $purple;
        margin: 0 auto;
        padding: 10px;
        border-radius: 100%;
        @include transition-ease;

        &:hover {
            transform: scale(1.1);
            color: lighten($purple, 55);
            background-color: $purple;
            border: none;
            box-shadow: 0.1px 0.1px 7px 0.1px lighten($purple, 5%);
            @include transition-ease;
        }

    }
}


@media (max-width: 1000px) {

    .contact {

        .header__content {
            margin-top: 50px;
            font-size: 23px;
        }
    }
}

@media (max-width: 749px) {
    .contact {
        padding: 0 50px;

        .header__content {
            font-size: 15px;
            margin-top: 30px;
        }

        form {
            width: 90%;
        }

        &__info {
            width: 100%;
            gap: 10px;
            font-size: 13px;
        }
    }
}

@media (max-width: 500px) {
    .contact {
        padding: 0px;
        margin: 50px 0;
        color: black;


        .header__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 100%;
            margin: 0;

            h3 {
                text-align: center; 
                position: relative;
                z-index: 3;
                padding: 0 5px;
                background-color: #fff;               
            }
    
            .header__underline {
                width: 100%;
                position: absolute;
                top: 50%;
                z-index: 2;
                border: 1px solid black;
            }
        }

        &__item:nth-child(2) {
            display: flex;
        }

        form {

            .user__info {
                display: flex;
                flex-direction: column;

                input.user-info {
                    // box-shadow: none;
                    // border: 1px solid $purple;
                }
            }

            input#message {
                // box-shadow: none;
                // border: 1px solid $purple;
            }

            button {
            padding: 15px 0;
            width: 30vw;
            }
        }
    }

    .contact__info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact__item:nth-child(3), .contact__item:nth-child(2) {
        width: 100%;
        margin: 10px 0;

        h5 {
            display: none;
        }
    }

    .contact__item:first-child {
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        h5 {
            margin: 0;
            font-size: 15px;
        }
    }

    .contact__icons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .contact__icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}